/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
@import url('https://webfontworld.github.io/PyeongChang/PyeongChangPeace.css');

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

h1.hero__title {
  font-family: 'PyeongChangPeace';
  font-size: 60pt;
}

@media screen and (max-width: 400px)  {
    h1.hero__title {
      font-family: 'PyeongChangPeace';
      font-size: 45pt;
    }
}

@media screen and (max-width: 320px)  {
  h1.hero__title {
    font-family: 'PyeongChangPeace';
    font-size: 60pt;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
